.wrapper{
    display: flex;
    flex-direction: column;
    .welcome_wrapper{
        width: var(--default-width);
        height: 100vh;
        margin: 0 auto;
        padding-top: var(--header-height);
        color: var(--text-color);
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 20px;
            text-align: left;
            .welcome_title{
                font-size: 5rem;
            }
            .welcome_desc{
                padding: 15px;
                background-color: var(--background-text);
                border-radius: 15px
            }
            .btn_downCV{
                border: 1px solid rgb(37 99 235);
                width: fit-content;
                padding: 10px;
                color: #fff;
                background-color: rgba(155, 155, 155, 0.13);
                border-radius: 15px;
                text-decoration: none;
                transition: all .3s linear;
                &:hover{
                    transform: scale(1.05);
                    background: linear-gradient(to right, #3b82f6,var(--background-text));
                }
            }
        }
        
    }

    .tech_wrapper{
        width: var(--default-width);
        height: fit-content;
        padding: var(--header-height) 2px 0;
        margin: -5rem auto 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .tech_heading{
            font-size: 3.5rem;
            text-decoration: underline;
            background-color: var(--background-text);
            padding: 5px;
            border-radius: 5px;
            width: fit-content;
            margin: 0 auto;
        }
        .tech_desc{
            font-size: 1.8rem;
            background-color: rgba(2, 16, 46, 0.9);
        }
        .list_tech{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            transition: all 2s linear;
            .wrapper_techList{
                background-color: rgba(2, 16, 46, 0.9);
                width: 45%;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                gap: 10px;
                padding: 20px;
                .list{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 40px;
                    .item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.6rem;
                        img{
                            width: 48px;
                            height: 48px;
                        }
                    }
                }
            }
            
        }
    }
    
}
