*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: source-code-pro, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 62.5%;
  color: var(--text-color);
}

:root{
  --text-color: rgb(240, 240, 240);
  --desc-color: #999;
  --hover-text-color: rgb(170, 170, 170);
  --header-height: 10vh;
  --default-width: 1200px;
  --background-img: url('Background.png');
  --background-text: rgba(2, 16, 46, 0.9);
}

*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    border-radius: 25px;
    z-index: 1;
}

*::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: rgb(204, 204, 204);
}

#root{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
    background-image: var(--background-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
