.creator_info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://t4.ftcdn.net/jpg/01/79/08/71/240_F_179087168_R3hTXcpcQ0mLmoKsBwDRiSiI7QIZvEPC.jpg');
        background-size: cover;
        transition: transform 0.5s linear;
        padding: 25px;
        z-index: 1000;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        &.hidden{
            transform: translateY(-100%);
        }
        .avatar_box{
            position: relative;
            width: 215px;
            height: 215px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: black;
            border-radius: 50%;
            overflow: hidden;
            &::before{
                content: "";
                background: linear-gradient(315deg,#0cf,#d400d4);
                inset: 0 50px;
                position: absolute;
                transition: .5s;
                animation: Rotate360 5s linear infinite;
            }

            &:hover::before{
                inset: 0;
            }
                .avatar{
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    -webkit-user-drag: none;
                    z-index: 1;
                    background-color: rgb(2, 16, 46);
                }
            
        }
        
        .info{
            font-size: 2rem;
            color: var(--text-color);
            .info_birthday{
                font-size: 1.6rem;
                color: var(--desc-color);
            }
        }
        .review_experience{
            font-size: 2rem;
            width: fit-content;
            color: var(--text-color);
            padding: 2.5rem;
            border: 1px solid #fff;
        }
        .guide_control{
            font-size: 1.5rem;
            display: flex;
            width: fit-content;
            flex-direction: column;
            align-items: center;
            color: var(--desc-color);
            position: absolute;
            bottom: 5%;
            animation: tungtung 1s linear infinite;
            cursor: pointer;
        }
}
@keyframes tungtung {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes Rotate360 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg)
    }
}
